{% extends "layout.html" %}
  {% block content %}
    <center>
      <abouth>
        <h1>
          Pictures
        </h1>
      </abouth>
        <select id="menu" name="links" size="1" onchange="window.location.href=this.value;" style="width: 11%; height: 2%;" placeholders="Season">
          <option value=""></option>
          <option value="https://drive.google.com/drive/folders/1FmEuX1r0LSMAMoGqhN4Ky36p7O7cekOx">Spring 2018</option>
          <option value="">Summer 2018</option>
          <option value="">Upcoming...</option>
          <option value="">Upcoming...</option>
        </select>
    </center>
  {% endblock %}