{% extends "layout.html" %}
  {% block content %}
      <h1>
          <center>
              <abouth>
                <h1>
                  Updates:
                </h1>
              </abouth>
              <p>
                  <h4>
                      <aboutb>
                        Remember to pay your fees.
                        <br>
                        Sign up for lands.
                        <br>
                        Stickers are on sale for $2
                        <br>
                        Lanyards are on sale for $5
                        <br>
                        This week's mile challenge goal is 7 miles.
                        <br>
                        Practice signups open on Mondays at 5PM PST. Priority is given to racers.
                        <br>
                        Boat practices are on Wednesdays, Saturdays, and Sundays.
                        <br>
                        Lands are on Mondays, Tuesdays, Thursdays, and Fridays.
                      </aboutb>
                  </h4>
              </p>
          </center>
      </h1>
{% endblock %}